.container {
  display: grid;
  grid-template-columns: 250px 4fr ;
}

.myself {
  display: flex;
  justify-content: space-between;
}

#new {
  display: flex;
  gap: 20px;
  padding-right: 75px;
}

.info {
  display: grid;
  grid-template-columns: 2fr 0.8fr;
  gap: 20px;
}

#projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1.3fr));
  gap: 25px;
}

.info-right {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

#card {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  min-height: 200px;
}

.dashboard {
  display: flex;
  flex-direction: column;
  gap: 30px;
}